#Reload config file
unbind r
bind r source-file ~/.config/tmux/tmux.conf

set -g prefix C-Space

set -g mouse on
setw -g mode-keys vi

#Enable 256 colours for better ssh and stuff
set -g default-terminal 'screen-256color'
set -ag terminal-overrides ',xterm-256color*:RGB'

set -g pane-active-border fg=magenta
set -g status-right-length 100
set -g status-left-length 100
set -g status-left ""

#Plugin Settings
#Catppuccin
run ~/.config/tmux/plugins/catppuccin/tmux/catppuccin.tmux

#Source custom modules
source -F ~/.config/tmux/customModules/nowPlaying.conf

#Catppuccin statusbar config and additions
set -gF @catppuccin_window_status_style rounded

set -agF status-right "#{E:@catppuccin_status_nowPlayingModule}"
set -g status-left "#{?client_prefix,#[fg=#{@thm_red} bold]PREFIX ,#{?#{==:#{pane_mode},copy-mode},#[fg=#{@thm_yellow} bold]COPY ,#[fg=#{@thm_green} bold]#{prefix} }}" 
set -agF status-right "#{E:@catppuccin_status_weather}"


#tmux-browser
set -g @open_browser_key 'B'
set -g @browser_session_dir '~/.config/tmux/browser-sessions'
set -g @browser_dont_hook_to_resurrect '1'
set -g @browser_launch_on_attach '1'
set -g @browser_close_on_deattach '1'

#Allows for automatic tpm installation
if "test ! -d ~/.tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm && ~/.tmux/plugins/tpm/bin/install_plugins'"

#List of plugins
set -g @plugin 'tmux-plugins/tmux-sidebar'
set -g @plugin 'ofirgall/tmux-browser'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'xamut/tmux-weather'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'joshmedeski/tmux-nerd-font-window-name'
set -g @plugin 'jaclu/tmux-menus'
set -g @plugin 'gcla/tmux-wormhole'
{{ if eq .chezmoi.os "linux" -}}
set -g @plugin 'richin13/tmux-plugin-playerctl'
{{ else if eq .chezmoi.os "darwin" -}}
#MacOS media controler
set -g @plugin 'spywhere/tmux-now-playing'
{{ end -}}
set -g @plugin 'tmux-plugins/tpm'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
