#Change the location of tmux.conf file
set-environment -g TMUX_PLUGIN_MANAGER_PATH '~/.config/tmux/plugins/'

#List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'xamut/tmux-weather'
set -g @plugin 'catppuccin/tmux#v2.1.2'
{{ if eq .chezmoi.os "linux" -}}
set -g @plugin 'richin13/tmux-plugin-playerctl'
{{ else if eq .chezmoi.os "darwin" -}}
set -g @plugin 'spywhere/tmux-now-playing' #MacOS media controler
{{ end -}}

#Reload config file
unbind r
bind r source-file ~/.config/tmux/tmux.conf

set -g prefix C-Space

# set-window-option -g automatic-rename off
set-option -g allow-rename off
set -g mouse on

#Vim keys
setw -g mode-keys vi
set-window-option -g mode-keys vi
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

set -g status-bg "#21202e" #Transparent status bar
set -g set-clipboard on #Use system clipboard

set -g base-index 1
set -g renumber-windows on

#Used for image.nvim
set -gq allow-passthrough on
set -g visual-activity off

#Enable 256 colours for better ssh and stuff
set -g default-terminal 'screen-256color'
set -ag terminal-overrides ',xterm-256color*:RGB'

set -g pane-active-border fg=magenta
set -g status-right-length 100
set -g status-left-length 100

#Plugin options
#Run Catppuccin
run ~/.config/tmux/plugins/tmux/catppuccin.tmux

#Catppuccin statusbar config and additions
set -gF @catppuccin_window_status_style rounded
set -g @catppuccin_flavor 'mocha'
set -g @catppuccin_window_current_text "#{window_name}"
set -g @catppuccin_window_text "#{window_name}"

#Status bar setup
#Source custom modules
source -F ~/.config/tmux/customModules/nowPlaying.conf
source -F ~/.config/tmux/customModules/Prefix.conf
#Add status bar modules
#Right side modules
set -gF status-right "#{E:@catppuccin_status_nowPlayingModule}"
set -agF status-right "#{E:@catppuccin_status_weather}"
#Left side modules
set -gF status-left "#{E:@catppuccin_status_PrefixModule}"

#Allows for automatic tpm installation
if "test ! -d ~/.config/tmux/plugins/tpm" \
   "run 'git clone https://github.com/tmux-plugins/tpm ~/.config/tmux/plugins/tpm && ~/.config/tmux/plugins/tpm/bin/install_plugins'"

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.config/tmux/plugins/tpm/tpm'
